<html>

<head>
  <link rel="stylesheet" href="/css/site.css">
  </link>

</head>

<body>

  {{> menu}}

  <h1>Hello Mustache</h1>

  My name is {{name}} and live on {{address.street}}, {{address.city}}, {{address.state}}. Age is {{age}}.

</body>

</html>